

services:
  # Django web ilovasi
  web:
    build: .
    container_name: django_app
    command: gunicorn --bind 0.0.0.0:8000 --workers 3 config.wsgi:application
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    expose:
      - 8000
    environment:
      - DEBUG=False
      - ALLOWED_HOSTS=*
    networks:
      - django_network
    restart: always

  # Nginx web server
  nginx:
    image: nginx:alpine
    container_name: nginx_server
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      - web
    networks:
      - django_network
    restart: always

volumes:
  static_volume:
  media_volume:

networks:
  django_network:
    driver: bridge